# MacOS
.DS_Store

# SvelteKit
.svelte-kit
package
build

# environment variable files
.env
.env.*
!.env.example

# Output of 'npm pack'
*.tgz

# Editor configurations
.vscode/
.idea/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Dependency directories
node_modules/
jspm_packages/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
files
